@use "bootstrap/scss/bootstrap" as bootstrap;
@use 'sass:color';

//TIPS [1] this in combination with preload in index.html gets the font to be preloaded and ready to use, 
// without duplicate downloads. It's important that url is the same as in preload

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

$breakpoints: bootstrap.$grid-breakpoints;

// Options
$prefix: bs- !default;

// Themes
$theme-light: "light";
$theme-color: "color";
$theme-dark: "dark";

// Fonts
$font-family-sans-serif: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-size-base: .825rem !default;
$font-size-lg: .95rem !default;
$font-size-sm: .75rem !default;
$headings-font-weight: 500 !default;
$small-font-size: 80% !default;

// Spacer
$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4.5),
  7: ($spacer * 6)) !default;

// Theme colors
$blue: #3F80EA !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #fd7e14 !default;
$yellow: #E5A54B !default;
$green: #4BBF73 !default;
$teal: #20c997 !default;
$cyan: #1F9BCF !default;

$white: #fff !default;
$gray-100: #f4f7f9 !default;
$gray-200: #e2e8ee !default;
$gray-300: #dee6ed !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #020202 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: $blue !default;
$primary-subtle: color.adjust($primary, $lightness: 15%) !default;
$secondary: $gray-700 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: color.adjust($gray-200, $lightness: 4%) !default;
$dark: #293042 !default;

// Border radius
$border-radius-sm: .15rem !default;
$border-radius: .2rem !default;
$border-radius-lg: .25rem !default;

// Transitions
$transition-appearance: background .4s ease-in-out,
  color .4s ease-in-out !default;
$transition-appearance-slow: background .6s ease-in-out,
  color .6s ease-in-out !default;
$transition-appearance-fast: background .1s ease-in-out,
  color .1s ease-in-out !default;