@use './variables' as variables;

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: variables.$font-family-sans-serif
}

.main-content {
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
  height: 100%;
}