// Bootstrap
@use "bootstrap/scss/bootstrap" as *;

@use './components/hamburger' as *;
@use './components/navbar' as *;

// Sidebar general
@use "./components/sidebar/default" as *;
@use './variables' as variables;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

//REMOVE
// .header {
//   display: flex;
//   align-items: center;
//   padding-left: variables.$header-padding-x;
//   padding-right: variables.$header-padding-x;
//   padding-top: variables.$header-padding-y;
//   padding-bottom: variables.$header-padding-y;
// }


#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: variables.$font-family-sans-serif
}

.main-content {
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
  height: 100%;
}

.central-content {
  border: 2px solid black;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}