@import './variables';

// Bootstrap
@import "bootstrap/scss/bootstrap";

@import './components/hamburger';
@import './components/navbar';

@import "./components/sidebar/sidebar-theme";
// Sidebar general
@import "./components/sidebar/default";
// Sidebar compact
@import "./components/sidebar/compact";

body {
  overflow-x: hidden;  
}

// TODO remove
/* Global layout styles */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  font-size: 18px;

  .toolbar-item {
    cursor: pointer;
  }
}

.main-content {
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
}

.sidebar-left,
.sidebar-right {
  width: 250px;
  background-color: #f4f4f4;
  padding: 10px;

  &.hidden {
    display: none;
  }
}

.central-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
