@use '../../styles/common' as common;
@use '../../styles/variables' as variables;

$properties-color: variables.$gray-600;
$properties-corners-radius: variables.$border-radius;

.properties {
    @include common.odyssey-flex-column;

    // TODO make this adjustable in Toolbar component
    .toolbar {
        flex-direction: row-reverse;

        button {
            margin-left: 0px;
            margin-right: 4px;
        }
    }
}

.node-properties {
    @include common.odyssey-flex-column;

    p {
        @include common.odyssey-font($properties-color);
        margin: 3px 7px;

        &.modified {
            //@include common.odyssey-font($properties-color, variables.$font-weight-bold);
            //background-color: black;
            //font-weight: variables.$font-weight-bold;
            color: black;
        }
    }



    input {
        @include common.odyssey-font($properties-color);
        border: 1px solid $properties-color;
        border-radius: $properties-corners-radius;
        margin: 0px 5px;
    }


}