@use '../../styles/common' as common;
@use '../../styles/variables' as variables;


$node-background-color: variables.$white;
$node-content-max-width: 305px;
$node-subnode-max-width: 300px;
$node-header-title-max-width: 260px;

.node-frame {
    border: 1px solid variables.$black;
    padding: 5px;
    border-radius: variables.$border-radius-lg;
    background: $node-background-color;

    display: flex;
    flex-direction: column;
}

.node-header {
    display: flex;
    padding: 8px;
}

.node-header-title {
    display: flex;
    flex-direction: column;
    max-width: $node-header-title-max-width;
}

.node-header-icon {
    margin-left: auto;
    padding-left: 5px;
}

.node-icon {
    max-width: $node-content-max-width;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: $node-content-max-width;
        height: auto;
    }
}

.component-node-name {
    @include common.odyssey-ellipsis;
    @include common.odyssey-font-weight(variables.$font-weight-bold);
}


.api-node-title-method {
    @include common.odyssey-font(variables.$white, variables.$font-size-sm, variables.$font-weight-bold);
    background-color: variables.$purple;
    margin: 2px 3px;
    margin-left: 5px;
    padding: 1px 4px;
    border-radius: variables.$border-radius-xxl;
    white-space: nowrap;
    text-align: center;
}

.api-node-title-url {
    @include common.odyssey-ellipsis;
    @include common.odyssey-font-size(variables.$font-size-base);
}

.api-facet-node {
    padding-left: 5px;
    color: variables.$gray-600;
}

.field-node {
    min-height: 1rem;
    border: 1px solid variables.$black;
    border-radius: variables.$border-radius;
    margin: 1px 0px;
    max-width: $node-subnode-max-width;
    flex-grow: 1;
}

.field-node-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    margin-right: 5px;
}

.field-node-pk {
    @include common.odyssey-font(variables.$red, variables.$font-size-xs, variables.$font-weight-bold);
    vertical-align: super;
    margin-left: 5px;
    margin-right: 4px;

    &.no-pk {
        color: $node-background-color;
    }
}

.field-node-name {
    @include common.odyssey-ellipsis;
    @include common.odyssey-font-size(variables.$font-size-lg);
    font-family: variables.$font-family-monospace;
}