@use '../../styles/variables' as variables;
@use "./sidebar-theme" as sidebar_mixin;

// Sidebar general
$sidebar-width: 300px !default;
$sidebar-transition: margin-left .35s ease-in-out,
    left .35s ease-in-out,
    margin-right .35s ease-in-out,
    right .35s ease-in-out !default;
$sidebar-bg: (
    #{variables.$theme-light}: variables.$gray-100,
    #{variables.$theme-color}: #2A64C1,
    #{variables.$theme-dark}: variables.$dark) !default;

.sidebar {
    min-width: $sidebar-width;
    max-width: $sidebar-width;

    transition: $sidebar-transition;
    direction: ltr;
    @include sidebar_mixin.sidebar-theme("background", $sidebar-bg
);
}

.sidebar-content {
    height: 100%;
    transition: $sidebar-transition;
    @include sidebar_mixin.sidebar-theme("background", $sidebar-bg);
}

// Collapse behavior if sidebar is on left side
#sidebar-left {
    &.collapsed {
        margin-left: -($sidebar-width);
    }

    // Workaround for IE bug, more info:
    // https://stackoverflow.com/a/25850649
    @media (min-width: 1px) and (max-width: #{map-get(variables.$breakpoints, 'lg') - .02px}) {

        // Sidebar default state (on mobile)
        margin-left: -($sidebar-width);

        // Sidebar collapsed state (on mobile)
        &.collapsed {
            margin-left: 0;
        }
    }
}

// Collapse behavior if sidebar is on right side
#sidebar-right {

    &.collapsed {
        margin-right: -($sidebar-width);
    }

    // Workaround for IE bug, more info:
    // https://stackoverflow.com/a/25850649
    @media (min-width: 1px) and (max-width: #{map-get(variables.$breakpoints, 'lg') - .02px}) {

        // Sidebar default state (on mobile)
        margin-right: -($sidebar-width);

        // Sidebar collapsed state (on mobile)
        &.collapsed {
            margin-right: 0;
        }
    }
}