@use '../../styles/variables' as variables;

.dac-editor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.dac-editor-element {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    outline: none;
    min-height: 150px;
    padding: 5px;
    overflow-y: auto; // Enables scrollbar when needed
    flex-grow: 1; // Allows it to take up available space

    font-family: variables.$font-family-monospace;
    font-size: variables.$font-size-lg;

    /* Custom Scrollbar for WebKit browsers (Chrome, Safari, Edge) */
    // &::-webkit-scrollbar {
    //     width: 8px; // Width of the scrollbar
    // }

    &::-webkit-scrollbar-track {
        background: variables.$gray-100; // Background color of the track
    }

    &::-webkit-scrollbar-thumb {
        background: variables.$gray-600; // Color of the scrollbar thumb
    }

    &::-webkit-scrollbar-thumb:hover {
        background: variables.$black; // Darker color when hovered
    }

    /* Custom Scrollbar for Firefox */
    scrollbar-width: thin; // "thin", "auto", or "none"
    scrollbar-color: variables.$gray-600 variables.$gray-100; // thumb color & track color
}

.token.property {
    color: variables.$black;
}

.token.string {
    color: variables.$purple;
}

.token.number {
    color: variables.$primary;
}

.token.boolean {
    color: variables.$orange;
}