@use '../../styles/common' as common;
@use '../../styles/variables' as variables;

.dac-editor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.dac-editor-element {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    outline: none;
    min-height: 150px;
    padding: 5px;

    font-family: variables.$font-family-monospace;
    font-size: variables.$font-size-lg;

    @include common.odyssey-sidebar-grow;
}

.token.property {
    color: variables.$black;
}

.token.string {
    color: variables.$purple;
}

.token.number {
    color: variables.$primary;
}

.token.boolean {
    color: variables.$orange;
}