@use '../../styles/variables' as variables;

.language-selector {
    position: absolute;
    right: 15px;
    cursor: pointer;

    button {
        background: variables.$white;
        color: variables.$gray-600;
        border: none;
        outline: none;
    }
}